---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  <div class="blog_card">
    <div class="title">{{post.title}}</div>
    <div class="body">
      <div class="description">
        {{post.description}}
      </div>
      <div class="thumbnail">
        <img src="{{post.thumbnail}}" alt="publication-thumbnail" />
      </div>
    </div>
    <div class="footer">
      <div class="links">
        {% if post.blog_url %}
          <a href="{{post.blog_url}}">More</a>
        {% endif %}
        {% if post.paper_url %}
          <a href="{{post.paper_url}}">Paper</a>
        {% endif %}
        {% if post.code_url %}
          <a href="{{post.code_url}}">Code</a>
        {% endif %}
      </div>
      <div class="date">
        {{post.date | date: '%B %Y'}}
      </div>
    </div>
  </div>
{% endfor %}
